.repo {
  background-color: #eff0f2;
  border-radius: 6px;
  padding: 14px;
  margin-bottom: 36px;
  margin-top: 36px;
}

.repo .header {
  text-transform: uppercase;
  margin-bottom: 10px;
  display: block;
  font-weight: 700;
}

.repo p {
  display: block;
  height: 80px;
  margin-bottom: 33px;
  font-size: 15px;
}
