/* line 3, content/style/partials/_subheader.scss */
body > .container {
  padding-top: 83px;
}

/* line 5, content/style/partials/_subheader.scss */
.subheader-container {
  position: relative;
}
/* line 8, content/style/partials/_subheader.scss */
.subheader-container .subheader {
  left: 0;
  top: 0;
  z-index: 1000;
  position: absolute;
  background-color: #2F4750;
  height: 60px;
  width: 100%;
  color: white;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
  margin-bottom: 21px;
}
/* line 22, content/style/partials/_subheader.scss */
.subheader-container .subheader.docked {
  position: fixed;
}
/* line 26, content/style/partials/_subheader.scss */
.subheader-container .subheader .container {
  padding-left: 21px;
  padding-right: 21px;
}
/* line 30, content/style/partials/_subheader.scss */
.subheader-container .subheader .container ul.breadcrumbs {
  padding: 0;
}
/* line 34, content/style/partials/_subheader.scss */
.subheader-container .subheader .container p,
.subheader-container .subheader .container .breadcrumbs li span,
.subheader-container .subheader .container .breadcrumbs li a {
  font-weight: lighter;
  line-height: 60px;
  font-size: 22px;
  color: white;
  overflow: hidden;
  position: relative;
  float: left;
  padding: 0 40px 0 20px;
  vertical-align: middle;
}
/* line 49, content/style/partials/_subheader.scss */
.subheader-container .subheader .container .breadcrumbs li span:after,
.subheader-container .subheader .container .breadcrumbs li a:after {
  content: '';
  position: absolute;
  right: 12px;
  height: 20px;
  width: 20px;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  margin-top: 20px;
  transform: rotate(-45deg);
  transition: .1s;
}
/* line 63, content/style/partials/_subheader.scss */
.subheader-container .subheader .container .breadcrumbs li:last-child span:after,
.subheader-container .subheader .container .breadcrumbs li:last-child a:after {
  border: none;
}
/* line 68, content/style/partials/_subheader.scss */
.subheader-container .subheader .container .breadcrumbs li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
/* line 72, content/style/partials/_subheader.scss */
.subheader-container .subheader .container .breadcrumbs li:first-child span,
.subheader-container .subheader .container .breadcrumbs li:first-child a {
  margin-left: -20px;
}
/* line 80, content/style/partials/_subheader.scss */
.subheader-container.reference .subheader {
  background-color: #2E9DC8;
}
/* line 84, content/style/partials/_subheader.scss */
.subheader-container.talk .subheader {
  background-color: #92CA45;
}
/* line 88, content/style/partials/_subheader.scss */
.subheader-container.collaborate .subheader {
  background-color: #FF694E;
}
