<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-7">
        <h3 class="footer-title">Contribute</h3>
        <p>Sparkiy is open source. Visit our <a href="https://github.com/Sparkiy/" target="_blank">public GitHub repositories</a>. Please help us by forking the project and adding to it.</p>
        <p class="pvl">
          You have any suggestion or question? <strong><a href="https://sparkiy.typeform.com/to/gLNSHU">Get in touch</a></strong>
        </p>
      </div>
      <div class="col-xs-12 col-sm-5">
        <div class="footer-banner">
          <h3 class="footer-title">sparkiy</h3>
          <ul>
            <li>Free and Open Source</li>
            <li>Community Driven</li>
            <li>A Lot of Useful Samples</li>
            <li>Touch Friendly and Easy to use</li>
            <li>Powerfull and Fast</li>
          </ul>
          Go to: <a href="http://sparkiy.com">sparkiy.com</a>
        </div>
      </div>
    </div>
  </div>
</footer>
