<nav class="snavbar snavbar-inverse snavbar-static-top" role="navigation">
  <div class="container">
    <div class="snavbar-header">
      <button type="button" class="snavbar-toggle collapsed" data-toggle="collapse" data-trigger="#snavbar-collapse-01">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="snavbar-brand" href="/">sparkiy</a>
    </div><!-- /.snavbar-header -->
    <div id="snavbar-collapse-01" style="height: 2px;">
      <ul class="snav snavbar-nav">
        <li <% if @item[:headerActiveClass] == 'reference' %>class="active"<% end %>>
          <a class="reference" href="/reference">Reference</a>
        </li>
        <li<% if @item[:headerActiveClass] == 'community' %>class="active"<% end %>>
          <a class="community" href="//talk.sparkiy.com">Talk</a>
        </li>
        <li <% if @item[:headerActiveClass] == 'collaborate' %>class="active"<% end %>>
          <a class="collaborate" href="/collaborate">Collaborate</a>
        </li>
      </ul>
    </div><!-- /.snavbar-collapse -->
  </div><!-- /.container -->
</nav>

<% if !@item[:hideSubheader] %>
<div class="subheader-container <%= @item[:headerActiveClass] %>">
  <div class="subheader">
    <div class="container">
      <ul class="breadcrumbs">
        <% breadcrumbs_trail.each do |crumb_item| %>
        <% if !crumb_item.nil? && !crumb_item[:title].nil? %>
        <li><%= link_to_unless_current(crumb_item[:title].split(" --")[0], crumb_item) %></li>
        <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<% end %>
