<header>
  <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-trigger="#navbar-collapse-01">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="//sparkiy.com">Sparkiy</a>
      </div><!-- /.navbar-header -->
      <div clas="navbar-collapse collapse" id="navbar-collapse-01" style="height: 2px;">
        <ul class="nav navbar-nav">
          <li>
            <a class="reference" href="//reference.sparkiy.com">Reference</a>
          </li>
          <li>
            <a class="community" href="//talk.sparkiy.com">Talk</a>
          </li>
          <li class="active">
            <a class="collaborate" href="//collaborate.sparkiy.com">Collaborate</a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>
</header>
