body>.container { padding-top: 83px; }

.subheader-container {
  position: relative;
}

.subheader {
  left: 0;
  top: 0;
  z-index: 1000;
  position: absolute;

  background-color: #FF694E;
  height: 60px;
  width: 100%;
  color: white;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);

  margin-bottom: 21px;
}

.subheader.docked {
  position: fixed;
}

.subheader .container {
  padding-left: 21px;
  padding-right: 21px;
}

.subheader .container p {
  font-weight: lighter;
  line-height: 60px;
  font-size: 22px;
}
